.site-logo img{
height: 70px;
width: auto;
}
.site-logo{
    display: inline-block;
}
.site-title{
    display: inline-block;
}
.header-menu{
    display: inline-block;
}

.header-menu li{
    display: inline-block;
}